.blogPost {
    /*float: left;
    position: relative;
    width: 49%;
    margin-left: 1%;*/
}

.panel-default > .panel-heading-blog {
    background-color: #202020 !important;
    color: honeydew !important;
}

.commentsCountBlog {
    float: right;
    font-size: 16px;
}

.commentsCountBlog > span {
    margin-right: 5px;
}

.authorPost {
    float: right;
}

/*
    post and comments
*/

.wholePost {
    height: auto;
}

.commentsPost {
    padding-top: 10px;
}

.postComment {
    border-bottom: 1px darkgray solid;
    position: relative;
}

.postCommentNone {
    text-align: center;
}

.postCommentHeader {
    float: left;
}

.postCommentBody {
    clear: both;
}

.postCommentAuthor {
    font-size: 12px;
    float: left;
}

.postCommentText {
    padding-top: 2px;
}

/* 
    front page carousel posts
*/

.carouselElement {
    border: 1px solid #202020;
    margin: 5px;
}

.carouselHeader {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #202020;
    color: honeydew;
}

/*
    comments
*/

.addCommentSection {
    width: 100%;
    margin-top: 35px;
    border-top: 1px solid #c0c0c0;
}

.addCommentSection label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.addCommentSection input {
    margin-bottom: 10px;
    width: 100%;
}