.blogPost {
    /*float: left;
    position: relative;
    width: 49%;
    margin-left: 1%;*/
}

.panel-default > .panel-heading-blog {
    background-color: #202020 !important;
    color: honeydew !important;
}

.panel-height {
    max-height: 50px;
}

.commentsCountBlog {
    float: right;
    font-size: 16px;
}
.commentsCountBlog > span {
    margin-right: 5px;
}

.authorPost {
    float: right;
}

.wholePost {
    float: left;
}

.commentsPost {
    border: 1px #202020 dashed;
    float: left;
    clear: both;
}