body {
}

.signature {
    font-size: 16px;
    font-family: Coves;
    color: honeydew;
    text-align: center;
    margin-top: 125px;
}

.blogPost {
    float: left;
    position: relative;
    width: 49%;
    margin-left: 1%;
}

.panel-default > .panel-heading-blog {
    background-color: #202020 !important;
    color: honeydew !important;
}

.panel-height {
    max-height: 50px;
}

.commentsBlog {
    float: right;
    font-size: 16px;
}
.commentsBlog > span {
    margin-right: 5px;
}

.authorPost {
    float: right;
}
