.signature {
    font-size: 16px;
    font-family: Coves;
    color: honeydew;
    text-align: center;
    margin-top: 125px;
}

.code {
    background-color: #e5e5e5;
    font-size: 12px;
    white-space: pre-wrap;
}

/* display keywords properly in <code> tag */
.type, .class, .method, .enum, .static, .return, .new, .loop, .ienumerable, .iqueryable, .null{
    color: #0000cd;
}

.comment {
    color: green;
}

