.signature {
    font-size: 14px;
    font-family: YuGothic;
    color: honeydew;
    text-align: center;
    margin-top: 25px;
}

.code {
    background-color: #e5e5e5;
    font-size: 14px;
    white-space: pre-wrap;
    border: 1px darkgrey solid;
}

.code-block {
    margin-left: 15px;
}

/* display keywords properly in <code> tag */
.type, .class, .method, .enum, .static, .return, .new, .loop, .null, .bool, .is-as, .modifier, .container{
    color: #0000cd;
}

.comment {
    color: green;
}

.contentFocus {
    color: crimson;
}

