@media (min-width: 992px) {
    .sidebar {
        -ms-box-shadow: 5px 5px 5px #888888;
        -webkit-box-shadow: 5px 5px 5px #888888;
        background-color: #202020;
        box-shadow: 5px 5px 5px #888888;
        min-height: 100%;
        padding-top: 75px;
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
    }

    #side-panel-ul {
        list-style-type: none;
        padding-top: 50px;
    }

    #side-panel-ul > li {
        margin-left: 10px;
        width: 250px;
    }

    #side-panel-ul > li > a {
        align-items: center;
        border-bottom: 1px solid #333333;
        color: #00ACED;
        display: flex;
        font-family: 'Yu Gothic UI';
        font-size: 18px;
        height: 65px;
        justify-content: center;
    }

    .circular-image {
        background: url(https://cdn4.iconfinder.com/data/icons/general12/png/256/administrator.png) no-repeat center center;
        background-position-y: -10px;
        border-radius: 125px;
        display: block;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
    }
}