@font-face {
    font-family: YuGothic;
    src: url("'../../../fonts/YuGothic/yugothib.ttf");
}

body { min-height: 100%; }

.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    position: relative;
    overflow-y: auto;
}

input,
select,
textarea { max-width: 280px; }

html, body, .container-fluid, .row {
    background-color: white;
    font-family: YuGothic;
    height: 100%;
    overflow: hidden;
}

.PageText {
    font-size: 20px;
}

.h1 .h2 .h3 { }