@font-face {
    font-family: Coves;
    src: url("'../fonts/Coves/Coves Bold.otf'");
}

@font-face {
    font-family: Moon;
    src: url("'../fonts/Moon/Moon Bold.otf'");
}

body { min-height: 100%; }

.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    position: relative;
    overflow-y: auto;
}

input,
select,
textarea { max-width: 280px; }

html, body, .container-fluid, .row {
    background-color: white;
    font-family: Coves;
    height: 100%;
    overflow: hidden;
}

.PageText {
    font-size: 20px;
}

.h1 .h2 .h3 { }