@font-face {
    font-family: YuGothic;
    src: url("'../../../fonts/YuGothic/yugothib.ttf");
}

body {
     min-height: 100%;
}

.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    position: relative;
    overflow: hidden;
}

input,
select,
textarea { max-width: 280px; }

html, body, .container-fluid, .row {
    background-color: white;
    font-family: YuGothic;
    height: 100%;
    overflow-x: hidden;
}

.pageText {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    font-size: 20px;
    right: -18px;
}

.h1 .h2 .h3 { }