@model List<MPCV.DatabaseAccess.Blog.Post>
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div id="owl-example" class="owl-carousel">
    @{
        foreach (var post in Model) {
            <div>
                <div class="panel-heading panel-heading-blog">
                    <h3>@post.Title</h3>
                </div>
                <p>@post.ShortDescription</p>
            </div>
        }
    }
    <div> Your Content </div>
    <div> Your Content </div>
    <div> Your Content </div>
</div>

<div class="pageText">
    Lorem ipsum dolor sit amet purus dolor tellus rutrum magna quis turpis metus sem, posuere cubilia Curae, Sed adipiscing. Vestibulum a dolor. Vivamus est enim enim consectetuer ac, neque. Maecenas mi quis neque ultrices posuere nisl at sagittis ac, mollis luctus. Sed et magnis dis parturient montes, nascetur ridiculus mus. Integer neque ultrices sit amet quam. Praesent quis orci at tellus tristique interdum. Quisque augue. Aenean gravida vitae, velit. Praesent sit amet tempus vehicula, tortor massa in faucibus eu, facilisis pellentesque sagittis vel, placerat scelerisque, lacus at nibh. Ut lobortis non, tellus. Cum sociis natoque penatibus et interdum at, tellus. Aliquam ultricies lacinia id, ornare egestas ac, felis. Integer adipiscing ligula. Lorem ipsum dolor eget odio. Cras semper convallis. Suspendisse luctus scelerisque. Proin rhoncus pede lacinia sit amet metus. Nulla facilisi. Nullam et libero. Duis quam eu tincidunt quis, velit. Pellentesque aliquam id, ullamcorper massa quis euismod non, arcu. Cras orci. Nam consectetuer lectus. Praesent wisi placerat porta est. Integer aliquet nulla, accumsan adipiscing, risus vel nulla. Aliquam posuere ante ipsum sed aliquet in, tristique eu, egestas consequat ipsum dolor.
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#owl-example").owlCarousel({
            items: 2
        });
    });
</script>